# Python Tasks 2 — Practical Notebook (English)

This notebook contains **six** practical tasks. It's designed for students to **write code**; no solutions are prefilled.


> Tip: Run each cell after you edit it. Where you see `# TODO`, replace with your implementation.

## Task 1 — `detect_gender(full_name: str) -> str`

**Goal:** Determine the person's gender from the full name.

**Rules:**
- If the text contains **"oğlu"** → return `"Male"`
- If the text contains **"qızı"** → return `"Female"`
- As a fallback heuristic (optional): surname endings like `-ov`, `-yev` → often *Male*; `-ova`, `-yeva` → often *Female*  
  > Prioritize `"oğlu/qızı"` if present.

**Sample inputs & expected outputs:**
```text
["Samir Quliyev Vahid oğlu", "Gülnar Seyidova Sənan qızı", "Valeh Məmədov", "Bahar Əliyeva"]
→ ["Male", "Female", "Male", "Female"]
```

In [1]:
# TODO: Implement detect_gender
def detect_gender(full_name: str) -> str:
    if "qızı" in full_name or "ova" in full_name or "yeva" in full_name:
        return "Female"
    elif "oğlu" in full_name or "ov" in full_name or "yev" in full_name:
        return "Male"
    else:
        return "Unknown"


# --- Test (uncomment after you implement) ---
samples = [
    "Samir Quliyev Vahid oğlu",
    "Gülnar Seyidova Sənan qızı",
    "Valeh Məmədov",
    "Bahar Əliyeva",
]

expected = ["Male", "Female", "Male", "Female"]
result = [detect_gender(s) for s in samples]
print(result)
assert result == expected

['Male', 'Female', 'Male', 'Female']

## Task 2 — `validate_username(u: str) -> str`

**Requirements:**
- Must **start with a letter**
- **First letter must be uppercase**
- Must contain **at least one** of `[@#%]`
- **Length ≥ 6**
- **At least two digits**
- If any rule fails → return `"invalid"`; otherwise `"valid"`

**Sample inputs → outputs:**
```
["Valeh@1237", "senan11@12", "Vuqar#1"] → ["valid", "invalid", "invalid"]
```

In [2]:
# TODO: Implement validate_username
def validate_username(u: str) -> str:
    if u[0].isalpha() and u[0].isupper() and len(u)>=6 and any(ch in "@#%" for ch in u) and sum(ch.isdigit() for ch in u)>1:
        return "valid"
    else:
        return "invalid"

# --- Test (uncomment after you implement) ---
tests = ["Valeh@1237", "senan11@12", "Vuqar#1"]
# expected = ["valid", "invalid", "invalid"]
result = [validate_username(x) for x in tests]
print(result)
# assert result == expected

['valid', 'invalid', 'invalid']

## Task 3 — `pandas`: Salary indexing and 2040 comparison

**Create a DataFrame with 30 rows** and columns: `ID`, `age`, `salary`.
- `ID` = 1..30
- `age` in [18, 55] (random ints)
- `salary` in [500, 3000] (random ints)

**Add** `Salary_updated` with increases:
- 18–30 → +5%
- 30–45 → +12%
- 45+ → +15%

**Assume year 2040** and create `Salary_updated_2040`:
- Use a growth assumption (e.g., from 2025 to 2040 is 15 years).
- Document your assumption in a comment.

**Compare** `Salary_updated` vs `Salary_updated_2040` and list `ID`s where values are **exactly equal** (unchanged).

In [3]:
import numpy as np
import pandas as pd

# --- Synthetic dataset generation ---
ID = list(range(1, 31))
age = np.random.randint(18, 56, size=30)
salary = np.random.randint(500, 3001, size=30)

df = pd.DataFrame({'ID': ID, 'age': age, 'salary': salary})
df.head()

   ID  age  salary
0   1   31     986
1   2   46    1047
2   3   19    2953
3   4   30    1502
4   5   27    1266

In [4]:
# TODO:
# 1) Create 'Salary_updated' per the age buckets and percentage increases.
# 2) Create 'Salary_updated_2040' using your compound growth assumption.
#    Example assumption (feel free to change): from 2025→2040 (15 years).
# 3) Identify IDs where 'Salary_updated' == 'Salary_updated_2040' (exact equality).

# Your code here:
def Salary_updated(row):
    if 18 <= row["age"] < 30:
        return row["salary"]*1.05
    elif 30 <= row["age"] < 45:
        return row["salary"]*1.10
    elif row["age"] >= 45:
        return row["salary"]*1.15
    else:
        return row["salary"]
df["salary_updated"] = df.apply(Salary_updated, axis=1)

def update_age(row):
    years = 15
    return row["age"] + years
df["updated_age"] = df.apply(update_age, axis=1)

def Salary_updated_2040(row):
    if 18 <= row["updated_age"] < 30:
        return row["salary_updated"]*1.05
    elif 30 <= row["updated_age"] < 45:
        return row["salary_updated"]*1.10
    elif row["updated_age"] >= 45:
        return row["salary_updated"]*1.15
    else:
        return row["salary_updated"]
df["updated_salary_2040"] = df.apply(Salary_updated_2040, axis=1)

equal_ids = df.loc[df["salary_updated"] == df["updated_salary_2040"], "ID"].tolist()

print(equal_ids)
df.head()

[]

   ID  age  salary  salary_updated  updated_age  updated_salary_2040
0   1   31     986         1084.60         46.0            1247.2900
1   2   46    1047         1204.05         61.0            1384.6575
2   3   19    2953         3100.65         34.0            3410.7150
3   4   30    1502         1652.20         45.0            1900.0300
4   5   27    1266         1329.30         42.0            1462.2300